<%- include('./includes/head')%>

<body id="page-top">
	<script>
		localStorage.setItem(`airtableKeys_${<%- data.idProyecto %>}`, JSON.stringify({
			'UserKey':"<%- data.userKey %>",
			'BaseKey':"<%- data.baseKey %>"
		}))
	</script>
	<script src="/js/airtableAPI.js"></script>

	<div id="wrapper">
		<%- include('./includes/sidebar')%>
		<!-- Contenedor con todo lo ajeno a la sidebar -->
		<div class="d-flex flex-column" id="content-wrapper">
			<!-- Todo excepto footer -->
			<div id="content">
				<!-- Top navbar -->
				<%- include('./includes/topbar')%>
				<!-- Titulo e instrucciones -->
				<div class="container-fluid">
					<div class="row">
						<div class="col">
							<h3 class="text-dark mb-4">Conectar con Airtable</h3>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="card shadow mb-4">
								<div class="card-body">
									<p class="text-white m-0"><strong>Instrucciones para la conexión con Airtable:</strong>
										<br> 
										<br>1. Recupere el ID de la base de Airtable en <i>API documentation</i> 
										<br>2. Recupere la llave de usuario en <i>ajustes de la cuenta</i> 
										<br>3. Introduzca el ID y la llave en los campos correspondientes de la parte inferior
										<br>4. Una vez introducidos, haga click en el botón <i>Guardar</i></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Form para la conexion -->
				<div class="container">
					<form action="/proyecto/<%- data.idProyecto %>/airtable" method="POST">
						<input type="hidden" name="_csrf" value="<%= csrfToken %>" >

						<div class="col">
							<div class="row">
								<div class="col d-flex justify-content-center">
									<label class="col-form-label">ID base</label>
								</div>
							</div>
							<div class="row">
								<div class="col d-flex justify-content-center">
									<input class="border rounded border-dark form-input" type="text" name="base-key" value="<%- data.baseKey %>">
								</div>
							</div>
						</div>

						<div class="col mb-4">
							<div class="row">
								<div class="col d-flex justify-content-center">
									<label class="col-form-label">User KEY</label>
								</div>
							</div>
							<div class="row">
								<div class="col d-flex justify-content-center">
									<input class="border rounded border-dark form-input" type="text" name="user-key" value="<%- data.userKey %>">
								</div>
							</div>
						</div>

						<input class="btn btn-primary centrado" type="submit" value="Guardar">
					</form>
					
				</div>
			</div>
<%- include('./includes/footer')%>