<%- include('./includes/head')%>

<body id="page-top">
	<div id="wrapper">
		<%- include('./includes/sidebar')%>
		<!-- Todo excepto sidebar -->
		<div class="d-flex flex-column" id="content-wrapper">
			<!-- Contenido excepto footer -->
			<div id="content">
				<%- include('./includes/topbar')%>

				<!-- Contenedor para títulos y botones -->
				<div class="container mb-4 px-5">
					<div class="row px-2">
						<div class="col">
							<div class="row">
								<h2 class="text-dark pb-2"><% proyecto.nombre_proyecto %></h2>
							</div>
							<div class="row">
								<h4 class="text-dark mb-0 d-flex bd-highlight mb-3">Tabla de puntos ágiles</h4>
								<div class="col d-xl-flex justify-content-xl-end align-items-xl-center">
									<!-- Boton para agregar nueva tarea -->
									<button class="btn btn-primary border rounded border-primary d-flex float-right justify-content-end justify-content-xl-center align-items-xl-center ml-3"
											data-toggle="modal" data-target="#crearTarea" type="button">
										<label class="m-0">Agregar Tarea</label>
									</button>

									<!-- Modal popup para crear nueva tarea -->
									<div class="modal fade" id="crearTarea" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content bg-dark text-almostWhite">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLongTitle">Crear tarea</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<!-- Form para agregar/crear nueva tarea --> 
												<form method="POST" action="/proyecto/<%= proyecto.id_proyecto %>/puntos-agiles/tarea">
													<div class="modal-body">
														<div class="form-group">
															<label for="NombreTarea">Nombre de tarea</label>
															<input type="text" class="form-control bg-transparent text-almostWhite form-input"
																id="NombreTarea" name = "nombreTarea" placeholder="Nombre de tarea">
														</div>
														<div class="form-group">
															<label for="fase">Seleccionar fase</label>
															<select class="form-control bg-transparent" id="fase" name="faseTarea">
																<% for (let i = 0; i < categoria.length; i++) { %> 
																<option>
																	<%-	categoria[i].nombre_categoria %> 
																</option>
																<% }; %> 
															</select>
														</div>
													</div>
													<div class="modal-footer border-0">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
														<input type="submit" value="Guardar" class="btn btn-primary">
													</div>
												</form>
											</div>
										</div>
									</div>
									<!-- Boton para agregar nueva fase -->
									<button class="btn btn-primary border rounded border-primary d-flex float-right justify-content-end justify-content-xl-center align-items-xl-center"
											data-toggle="modal" data-target="#crearFase" type="button">
										<label class="m-0">Agregar Fase</label>
									</button>

									<!-- Modal popup para agregar/crear fase -->
									<div class="modal fade" id="crearFase" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
										aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content bg-dark text-almostWhite">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLongTitle">Crear fase</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<form method="POST" action="/proyecto/<%= proyecto.id_proyecto %>/puntos-agiles/fase">>
													<div class="modal-body">
														<div class="form-group">
															<label for="NombreTarea">Nombre de fase</label>
															<input type="text" class="form-control bg-transparent text-almostWhite form-input" id="NombreTarea" name="nombreFase" placeholder="Nombre de tarea">
														</div>
													</div>
													<div class="modal-footer border-0">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
														<input type="submit" value="Guardar" class="btn btn-primary">
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>	
				<!-- Contenido de tabla de puntos agiles y pestañas -->
				<div class="container-fluid">
					<!-- Navegador de pestañas -->
					<ul class="nav nav-tabs border-0">
						<!-- Pestaña individual -->
						<li class="nav-item bg-grisSideBar rounded-top">
							<a class="nav-link active border-0 text-white tabsPA" href="#individual" data-toggle="tab">Individual</a>
						</li>
						<!-- Pestaña de promedio -->
						<li class="nav-item bg-grisSideBar rounded-top">
							<a class="nav-link border-0 text-white bg-dark tabsPA" href="#promedio" data-toggle="tab">Promedio</a>
						</li>
					</ul>

					<!-- Contenido de las pestañas -->
					<div class="tab-content clearfix">

						<!-- Contenido de la pestaña individual -->
						<div id="individual" class="tab-pane active bg-dark">
							<h2>Individual</h2> <!-- Esto es de prueba -->
							<!-- Tabla de PA individual -->
							<div class="table-responsive table-bordered p-4 border-0">
								<table class="table table-bordered table-hover table-dark">
									<thead>
										<tr class="fases">
											<th class="text-center">Fase</th>
											<th class="text-center">Tarea</th>
											<th class="text-center" colspan="2">1</th>
											<th class="text-center" colspan="2">2</th>
											<th class="text-center" colspan="2">3</th>
											<th class="text-center" colspan="2">5</th>
											<th class="text-center" colspan="2">8</th>
											<th class="text-center" colspan="2">13</th>
										</tr>
									</thead>
									<tbody>
										<tr class="fases">
											<td colspan="2"></td>
											<% for (let i = 0; i < 6; i++){%>    
												<th>Min</th>
												<th>Max</th>
											<% } %>
										</tr>
										<% for (let i = 0; i < categoria.length; i++){%>
											<% for (let j = 0; j < tareas.length; j++){%>
												<tr <%  if (j == 0) {%>class="linea"<%  } %>>
													<%  if (j==0) {%> 
														<th rowspan="<% tareaCategoria[i] %> ">
															<%= categoria[i].nombre_categoria%>
														</th>
													<%  } %>
													<% if ( categoria[i].id_categoria == tareas[j].id_categoria ) { %> 
														<th><%= tareas[j].nombre_tarea%></th>
													<% } %>
													<% //for (let k = 1; k < categoria[i].tareas[j].valores.length; k++){%>
														<td><%// categoria[i].tareas[j].valores[k].nombre%></td>
													<%// }%>
												</tr>
											<% }%>
										<% }%>
									</tbody>
								</table>
							</div>
						</div>

						<!-- Contenido de la pestaña de promedio -->
						<div id="promedio" class="tab-pane bg-dark">
							<!-- Tabla de promedio de PA -->
							<div class="table-responsive table-bordered p-4 border-0">
								<table class="table table-bordered table-hover table-dark">
									<thead>
										<tr class="fases">
											<th class="text-center">Fase</th>
											<th class="text-center">Tarea</th>
											<th class="text-center" colspan="2">1</th>
											<th class="text-center" colspan="2">2</th>
											<th class="text-center" colspan="2">3</th>
											<th class="text-center" colspan="2">5</th>
											<th class="text-center" colspan="2">8</th>
											<th class="text-center" colspan="2">13</th>
										</tr>
									</thead>
									<tbody>
										<tr class="fases">
											<td colspan="2"></td>
											<%//for (let i = 0; i < 6;i++){%>    
												<th>Min</th>
												<th>Max</th>
											<%//}%>
										</tr>
										<%// for (let i = 0; i < categoria.length; i++){%>
											<%//for (let j = 0; j < categoria[i].tareas.length; j++){%>
												<tr<%// if (j == 0) {%>class="linea"<%// } %>>
													<%// if (j==0) {%> 
														<th rowspan="2">
															<%//=categoria[i].nombre%>
														</th>
													<%// } %>
													<th><%//=categoria[i].tareas[j].nombre%></th>
													<%//for (let k = 1; k < categoria[i].tareas[j].valores.length; k++){%>
														<td><%//categoria[i].tareas[j].valores[k].nombre%></td>
													<%//}%>
												</tr>
											<%//}%>
										<%//}%>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<%- include('./includes/footer')%>